/* Chrystals */
* {
    box-sizing: border-box;
}

body{
	background-image: url("../images/bcba1.png");
}


h1 {
	font-size: 70px;
}

#logo{
clear:both;	
font-weight: 800;
padding-top:10px;
left:0px;
top: 0px;
background-color: grey;
color:white;
height:120px;
text-align: center;
width:100%;
margin-bottom: 30px;
}

#foote{
  clear:both;
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: -100px;
  background-color: gray;
  padding-top: 20px;
}

.ptitl{
width:160px;	
text-align: center;
}

#narra{
	margin-top: 20px;
	background-color: #fbe6cb;
	color: green;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	padding:25px;
}

.centrify{
	display: inline-block;
	align-content: center;
	width:50%;
	margin-left:25%;
	margin-right:25%;
}


.scoreBox{
min-width: 60px;
min-height:60px;
}



/*Classes for the buttons*/

.bic {
float: left;
height:60;
width:60;
display: inline-block;
}
